.DS_Store
.build
Packages
xcuserdata
DerivedData
.swiftpm
.netrc
.vscode
Package.resolved
DynamicMiddleware.d
DynamicMiddleware.o
DynamicMiddleware.swiftdeps*
HTTPFieldContentType.d
HTTPFieldContentType.o
HTTPFieldContentType.swiftdeps*