.DS_Store
.build
Packages
xcuserdata
DerivedData
.swiftpm
.netrc
.vscode
Package.resolved
DynamicMiddleware.d
DynamicMiddleware.o
DynamicMiddleware.swiftdeps*
DynamicRoute.d
DynamicRoute.o
DynamicRoute.swiftdeps*
HTTPFieldContentType.d
HTTPFieldContentType.o
HTTPFieldContentType.swiftdeps*
HTTPRequestMethodParse.d
HTTPRequestMethodParse.o
HTTPRequestMethodParse.swiftdeps*
PathComponent.d
PathComponent.o
PathComponent.swiftdeps*