.DS_Store
.build
Packages
xcuserdata
DerivedData
.swiftpm
.netrc
.vscode
Package.resolved
StackStrings.d
StackStrings.o
StackStrings.swiftdeps*
HTTPFieldContentType.d
HTTPFieldContentType.o
HTTPFieldContentType.swiftdeps*